@import "./fonts.css";
@import "./reset.css";
body {
  font-family: "CircularStd";
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  -webkit-font-smoothing: antialiased;
  /* WebKit  */
  transition: background-color 0.2s ease-in-out;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper>div {
  position: absolute;
}