@import "./fonts.css";
@import "./reset.css";

body {
  font-family: "CircularStd";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition: color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}